kbd {
    line-height: 1.7em;
    cursor: pointer;
    padding: 0 0.2em 0 0.2em;
    white-space: nowrap;
    background-color: #e5e5e5;
    border-top: solid 0.1em #ccc;
    border-right: solid 0.2em #aaa;
    border-bottom: solid 0.3em #999;
    border-left: solid 0.2em #bbb;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.small-text {
    font-size: 80%;
}

* > code.hljs {
    display: inline;
    padding: 0 0.3ex 0 0.3ex;
    white-space: nowrap;
}

pre > code.hljs {
    display: block;
}
